set editing-mode vi
set show-mode-in-prompt On
set keyseq-timeout 0
$if mode=vi

  set keymap vi-insert
  "jk":"\e"
  "kj":"\e"
  "\C-t": accept-line

  set keymap vi-command
  "\C-t": accept-line

$endif
